$primary: #876A20; 
$secondary: #B7975B;
$tertiary: #F1E3D4;

$btn-border-radius: 10px;

@import '~bootstrap/scss/bootstrap';

/*
font-family: 'DM Sans', sans-serif; //default for page
font-family: 'Italiana', serif; //for special titles
font-family: 'Outfit', sans-serif; //for logo
*/

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  background-color: #F1E3D4;

}

.nav-link {
  color: $primary;
  font-weight: bold;
  margin-right: 20px;
}

.nav-logo{
  font-family: 'Outfit', sans-serif;
  font-weight: bolder;
  line-height: 0.7;
  padding-top: 10px;
}

.nav-logo-top{
  font-size: 1.5rem;
  color: $primary;
}

.nav-logo-bottom{
  font-size: 1rem;
  color: $secondary;
}
