$primary: #876A20; 
$secondary: #B7975B;

$btn-border-radius: 10px;

@import '~bootstrap/scss/bootstrap';

/*
font-family: 'DM Sans', sans-serif; //default for page
font-family: 'Italiana', serif; //for special titles
font-family: 'Outfit', sans-serif; //for logo
*/

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
